- var tweets, media, images, content;
- tweets = link._tweets && link._tweets.length || null;
- media = link.preview && link.preview.media ? link.preview.media.type : null;
- images = link.preview && link.preview.images ? link.preview.images.length : null;
- content = link.preview && link.preview.content ? link.preview.content.length : null;
- var details = [];
- if (tweets) details.push('tweets');
- if (media) details.push('embedded media');
- if (images) details.push('images');
- if (content) details.push('article preview');
- var infoString = details.join(', ');
- var extraClasses = extraClasses || ''

article(class="link-item", id= link._id, data-json="#{JSON.stringify(link)}")
    .content
        include meta.jade
        .preview
            if (link.preview)
                h4
                    if (link.preview.favicon_url)
                        img(src= link.preview.favicon_url)
                    a(href= "#{link.url}") !{link.preview.title || link.preview.url}
                p !{link.preview.description}
                if (link.preview.media)
                    .flex-video !{link.preview.media.html}
            else
                h4= link.url
                p fetching preview, please wait
        a.button.secondary(href= "/links/#{link._id}") more info - #{infoString}